html
    head
        link(rel="stylesheet", href="/static/styles/reset.css")
        link(rel="stylesheet", href="/static/styles/gfa.css")
    body
        #app !{renderedComponent}
        script(src="/static/client.js", type="text/javascript")