html
    head
        link(rel="stylesheet", href="/static/styles/reset.css")
        link(rel="stylesheet", href="/static/styles/gfa.css")
        script(src="https://use.fonticons.com/0a535eb1.js")
    body
        #app !{renderedComponent}
        script(src="/static/client.js", type="text/javascript")